.img_checkbox{
	margin-top: 12px; 
	/* margin-left: 20px; */
	width:144px;
  height: 184px; 
	
	background-size: contain;
	background-repeat: no-repeat; 
	background-position: center;
	border: 1px;
	border-color: #ccc;
	border-style: solid;

	
}
.left{float: left;}

.right{float: right;}
.img_radio .row{	

	overflow:hidden;
	
}

.item-add{
	
    margin-top: 12px;
	background-color: #7ce1f7;
	float: left;

	height: 34px;
	font-family: microsoft yahei;
	color: #fff;
}